<div class = 'user'>
  <input [(ngModel)] = "user" type = "text">
  <button (click) = "changeUser()">change</button>
</div>
<div>
  {{user}}
</div>
<div>
  <ul>
    <todo *ngFor = "let todo of todos" [data] = "todo"
    (myButtonClicked) = "showText($event)"
    ></todo>
  </ul>
  {{todoText}}
</div>