<li (mouseenter) = "showTheButton()"
    (mouseleave) = "hideTheButton()">
    {{text}}<button 
                     (click) = "send()"
                     *ngIf = "showButton"
                     >
                     Click to see</button>
</li>